* {
      box-sizing: border-box;
    }

    .slider {
        width: 50%;
        margin: 100px auto;
    }
    .nhahangshow {
      display: block;
    }
    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }
    .hiddennhahang {display: none;}
    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
    #gioithieunhahang{
      text-align:center;font-size:30px;
    }
    
    
     .slick-dots li {
      display: none;
     }
.navbar-inverse .navbar-nav>li>a:hover {
    color: black;
  }
    .navbar-inverse .navbar-nav>li>a:visited {
    color: none;
  }

  
  #anhnhahang {
    height:400px;width:70%;float: right;
  }
  
  #thongtinnhahang {
    width: 30%;float: left;
  }
  .navbar-inverse {
    background-color: #6fa6d6;

    border:none;
  

  }
  .carouselhidden {
    display: none;
  }
  }
  .khungnen {
    background-color: #f2f2f2; padding-right: 0px;
    padding-left: 0px;
  }
  #khoangcach2{
    margin-bottom: 60px;
  }
  .navbar-inverse .navbar-nav>li>a { color: white; }


  .container-fluid {
    padding-left: 80px;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 16px;

  }
  #gioithieunhahang {
    text-align: center;
    font-size: 30px;
    margin-top: -6%;
}
  .smallone {
      margin: 12px;
  }
  
  #nhahangbox {
    margin:5%;border-bottom: 1px solid;padding: 1%;  margin-top: 10%;
  }
  
  .carousel {
    position: relative;
  }

  #findmore:hover {
    background-color: rgba(111, 166, 214, 0.56);}

  .carousel-indicators {
    bottom: 90px;
  }



  .lowimg { opacity: 0.4; transition: opacity 0.4s ease-out; }
  
  .lowimg:hover { opacity: 1;}  
  

  .subtitle {
    display:block;
    position: absolute;
    left: 40%;
      top: 40%;
      color: black;
      font-size: 30px;



  }
  #menunhahang {
    height:50%;width:45%;background-color:rgba(0,0,0,0.5);position:absolute;      left: 55%; 
            top: 35%; z-index:20;
  }
  .bodyimg {
    position: relative;
      padding-top: 60px;
      height: 300px;
    }
    .lowimg img {
      height: 300px;
    }

  .rowhidden { display: none; }


  


  #topbar { height: 72px; width: 100%;background-color: white;position: fixed;z-index: 51; }

  #topbar img {
    width:15%;height:64px;    margin-top: 3px;float:left;padding-left: 2%;
  }

  #diachi {
    float:right;   
            margin-right: 10%;
             margin-top: 1%;     margin-top: 0.5%;
  }



  #wholenavbartop {
    margin-bottom: 0px;position: fixed;display: none;z-index: 700; width:100%;
  }

  #tenkhachsan a { 
    color:white; background-color:#6fa6d6; font-size:23px;
   }

  #tenkhachsan2 { 
    font-size:13px; text-align:justify;
   }
   #khoangcach5 {margin-bottom: 60px;}
  #bookbox {
    width: 24%;
         height: 350px;
        background-color:rgba(255, 255, 255, 0.89);
        position: absolute;
        left: 2%;
        top: 30%;
        z-index: 30;
  }
  #anhdichvu {
    height:400px;width:70%;float:left; ;
  }
  #khoangcach4 {margin-top:60px;}
  #bookboxtip {
    height:50px;width:100%;background-color:rgba(0,0,0,0.05);color: #6fa6d6;
  }

  #datphongbookbox { 
    display:block;padding-top: 3%;
   }

  #datphongbookbox p {
    text-align:center;font-size:21px;
  }
  #bookboxbot {
    margin:7%;
  }
  #bookboxbutton {
    background-color: #6fa6d6;color:white;
  }
  #khoangcach6{
    margin-top:60px;
  }
    #headimage {
      background-image: url('head.jpg');height:600px;width:100%;
    }
    #menudichvu{
      height:50%;width:45%;background-color:rgba(0,0,0,0.5);position:absolute;    left: 0%;
          top: 50%; z-index:20;
    }
    #khoangcach7 {
      margin-bottom: 60px;
    }
    #boxbando {
      width: 30%;float: left;
    }
    #smalltextbox {
      height: 28%;
      width: 43%;
      background-color: rgba(0,0,0,0.5);
      position: absolute;
      left: 57%;
      top: 70%;
      z-index: 2000;
    }
    #nhahangbox2{
      margin:5%;padding: 1%;
    }
    #smalltextbox a {
      color:white;font-size:20px;margin: 3%;display:block;
    }
    #smalltextbox p {
      color:white;font-size:15px;color: white;margin: 3%
    }


    #headimage2 {
      background-image: url('head1.jpg');height:600px;width:100%;
    }
    #headimage3 {
      background-image: url('head2.jpg');height:600px;width:100%;
    }

    #show {
      background-color: none;color:white;border: none;padding-top: 30px;    padding-top: 11%;
                  padding-left: 23%; 
    }
    #hide{
      background-color: none;color:white;border: none;padding-top: 30px;    padding-top: 11%;
                  padding-left: 23%; 
    }

    .showbox {
      height: 70px;width:21%;background-color: #6fa6d6;margin-top: 40px;margin-right: 15px; float: right;
    }
    #thongtinbox {
      height: 120px;width:75%;background-color: #f2f2f2;margin-top: 40px;margin-left: 15px;float: left 
    }
    #boxphai{
      float: left;margin: 2%;margin-left: 15%;
    }
    #boxtrai{
      float: left;margin: 2%
    }
    #khoangcach1 {
      height:100px;
    }
    #loigioithieu {
      text-align:center;font-size:30px;
    }
    .boxfeature {
      height:60px;width:60px;    margin-left: 42%;    margin-bottom: 10%;
    }
    .row1 {
      padding-top:60px;padding-bottom:60px;
    }
    .boxrow1 {
      background-color:#f2f2f2; padding-top: 17%;
          padding-bottom: 17%;
    }
    .boxrow1span {
      text-align:center;font-size:20px;
    }
    .boxrow1p {
      text-align:center;font-size:14px;
    }
    #phongocgioithieu {
      text-align:center;font-size:30px;
    }
    .bacham {
      text-align:center;color:grey;
    }
    .imgspan {
    height: 100px;
    width: 100%;
    background-color: #f2f2f2;
    display: block;
    padding-top: 14%;
    color: #337ab7;
}
    .imgp{
      float: left;padding: 5%;
    }
    .imgp p {
      text-align: center;
    }
    .imgnguoi {
      float: right;padding: 5%;
    }
    #googleMap {
      height:400px;width:70%;float: right;
    }
    #bookboxhidden {
      display: none;
    }
    #hide {display: none;}
    #space {
      width:100%;height:auto;
    }
    #rightspace {
      width: 30%;float: right;
    }
    #leftspace {
      height:400px;width:70%;float:right ;
    }
    #thongtindichvu {    
    height: 48%;
    width: 45%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0%;
    top: 48%;
    z-index: 20;
    }
    #hiddenformtop{
    display: none;
    }
    .khungnen {
      background-color: #f2f2f2;
    }

    .subtitle {
    display: block;
    position: absolute;
    left: 4%;
    top: -37%;
    color: black;
    font-size: 45px;
    padding-right: 32px;
}
  .anhphongngu {
    padding-top: 200px;
  }

  .showbox:hover {
    background-color: #195d98;
  }
  .hidebox:hover {
    background-color: #195d98;
  }

   














    @media screen and (max-width:500px){
      
      #wholenavbartop {
        display: block;
        z-index: 100;
      }
      #topbar {
        display: none;
        z-index: -1;
      }
      #topbar img {
        display: none;
      }
      .row1 {
    padding-top: 15px;
    padding-bottom: 15px;
}
      #loigioithieu2{
        display: block;
      }
      #bookboxhidden{
        display: block;
      }
      #diachi{
        display:none;
      }
      #headimage {
        display: none;
      }
      #bookbox{
        display: none;
      }
      .row1each{
        padding-top: 1%;
        padding-bottom: 1%;
      }
      .boxfeature {
        height: 40px;
        width: 40px;
        margin-left: 46%;
        margin-bottom: 10%;
      }
      .boxrow1 {
    background-color: #f2f2f2;
    padding-top: 7%;
    padding-bottom: 7%;
}
    .slider {
    
    margin: 40px auto;
}
      #khoangcach1 {
        height: 40px;
      }
      #loigioithieu3{
        display: block;
      }
      .bodyimg {
    position: relative;
    padding-top: 10px;
    height: 240px;
}     
  .lowimg {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .imgspan {
    height: 45px;
    width: 100%;
    background-color: #f2f2f2;
    display: block;
    padding-top: 0%;
    color: #337ab7;
    margin-top: -3%;
}
    #thongtinbox {
        height: 250px;
    width: 70%;
    background-color: #f2f2f2;
    margin-top: 10px;
    margin-left: 15px;
    padding-top: 2%;
    margin-bottom: 1%;
    
}
    #loigioithieu4{
      display: block;
    }
    #khoangcach2{
          margin-bottom: 15px;
    }
    #thongtinnhahang {
      width: 100%;
    float: none;
    }
    #menunhahang {
      display: none;
    }

    .khungnen {
      background-color: white;
    padding-right: 0px;
    padding-left: 0px;
    height: 345px;
    position: relative;
    }
    #nhahangbox {
      margin: 5%;
    border-bottom: 1px solid;
    padding: 1%;
    margin-top: 5%;
    }

    #anhnhahang {
      height: 120px;
    width: 50%;
    float: right;
    position: absolute;
    top: 60%;
    right: 6%;
    }
    #khoangcach4 {
      margin-top: 23px;
    }
    #nhahangbox2{
      margin:5%;padding: 1%;
    }
    #loigioithieu5 {
      display: block;
    }
    #khoangcach5 {
      margin-bottom: 20px;
    }
    #menudichvu {
      display: none;
     
    }

    #anhdichvu{
      height: 106px;
    width: 50%;
    float: right;
    top: 96.7%;
    right: 6%;
    position: absolute;

    }
    #khoangcach6{
      margin-top:23px;
    }
    #loigioithieu6 {
      display: block;
    }
    #khoangcach7 {
      margin-bottom: 23px;
    }

    #boxbando {
      width: 100%;
    }
    .showbox {
    height: 60px;
    width: 21%;
    background-color: #6fa6d6;
    margin-top: 10px;
    margin-right: 15px;
    float: right;
    }
    #show {
      font-size: 12px;
    }
    #hide{
      font-size: 12px;
    } 
    .row1 {
      display: none;
    }
    .slick-slide img {
    width: 35%;
    }
    .boxfeature {
    height: 50px;
    width: 35px;
    margin-left: 35%;
    margin-bottom: 10%;
} 
    .boxrow1span {
    text-align: center;
    font-size: 13px;
}
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: white;
}
    .container-fluid {
    padding-left: 13px;
}
#hiddenformtop{
  display: block;
}
.carouselhidden {
    display: block;
  }
  
  #loigioithieu {
    text-align: center;
    font-size: 21px;
}#phongocgioithieu {
    text-align: center;
    font-size: 21px;

}
#gioithieunhahang{
      text-align:center;font-size:21px;
    }
img.carouselphongoc {
  width: 100%;height:auto; ;
}
.phongocspan {
  height: 140px; width: 100%;background-color: white;text-align: center; margin-top: 2%; display: block;
}
.phongocspan a {
  font-size: 17px;
}

.slider {
    width: 80%;
    margin: 40px auto;
}

.phongocp {
  text-align: center;
  margin-left: 3px;
    margin-right: 3px;
    margin-top: 10px;
}
.hiddennhahang {display: block;}
.nhahangshow {
  display: none;
}
#googleMap {
  display: none;
}


.imgspan {
    height: 45px;
    width: 100%;
    background-color: #f2f2f2;
    display: block;
    padding-top: 0%;
    color: #337ab7;
    margin-top: -3%;
}

.subtitle {
    display: block;
    position: absolute;
    left: 4%;
    top: -66%;
    color: black;
    font-size: 45px;
    padding-right: 32px;
}

#gioithieunhahang {
    text-align: center;
    font-size: 30px;
    margin-top: -11%;
}





    }



















 @media screen and (max-width:1000px){
      
      #wholenavbartop {
        display: block;
        z-index: 100;
      }
      #topbar {
        display: none;
        z-index: -1;
      }
      #topbar img {
        display: none;
      }
      .row1 {
    padding-top: 15px;
    padding-bottom: 15px;
}
      #loigioithieu2{
        display: block;
      }
      #bookboxhidden{
        display: block;
      }
      #diachi{
        display:none;
      }
      #headimage {
        display: none;
      }
      #bookbox{
        display: none;
      }
      .row1each{
        padding-top: 1%;
        padding-bottom: 1%;
      }
      .boxfeature {
        height: 40px;
        width: 40px;
        margin-left: 46%;
        margin-bottom: 10%;
      }
      .boxrow1 {
    background-color: #f2f2f2;
    padding-top: 7%;
    padding-bottom: 7%;
}
    .slider {
    
    margin: 40px auto;
}
      #khoangcach1 {
        height: 40px;
      }
      #loigioithieu3{
        display: block;
      }
      .bodyimg {
    position: relative;
    padding-top: 10px;
    height: 240px;
}     
  .lowimg {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .imgspan {
    height: 45px;
    width: 100%;
    background-color: #f2f2f2;
    display: block;
    padding-top: 0%;
    color: #337ab7;
    margin-top: -3%;
}
    #thongtinbox {
        height: 250px;
    width: 70%;
    background-color: #f2f2f2;
    margin-top: 10px;
    margin-left: 15px;
    padding-top: 2%;
    margin-bottom: 1%;
    
}
    #loigioithieu4{
      display: block;
    }
    #khoangcach2{
          margin-bottom: 15px;
    }
    #thongtinnhahang {
      width: 100%;
    float: none;
    }
    #menunhahang {
      display: none;
    }

    .khungnen {
      background-color: white;
    padding-right: 0px;
    padding-left: 0px;
    height: 345px;
    position: relative;
    }
    #nhahangbox {
      margin: 5%;
    border-bottom: 1px solid;
    padding: 1%;
    margin-top: 5%;
    }

    #anhnhahang {
      height: 120px;
    width: 50%;
    float: right;
    position: absolute;
    top: 60%;
    right: 6%;
    }
    #khoangcach4 {
      margin-top: 23px;
    }
    #nhahangbox2{
      margin:5%;padding: 1%;
    }
    #loigioithieu5 {
      display: block;
    }
    #khoangcach5 {
      margin-bottom: 20px;
    }
    #menudichvu {
      display: none;
     
    }

    #anhdichvu{
      height: 106px;
    width: 50%;
    float: right;
    top: 96.7%;
    right: 6%;
    position: absolute;

    }
    #khoangcach6{
      margin-top:23px;
    }
    #loigioithieu6 {
      display: block;
    }
    #khoangcach7 {
      margin-bottom: 23px;
    }

    #boxbando {
      width: 100%;
    }
    .showbox {
    height: 60px;
    width: 21%;
    background-color: #6fa6d6;
    margin-top: 10px;
    margin-right: 15px;
    float: right;
    }
    #show {
      font-size: 12px;
    }
    #hide{
      font-size: 12px;
    } 
    .row1 {
      display: none;
    }
    .slick-slide img {
    width: 35%;
    }
    .boxfeature {
    height: 50px;
    width: 35px;
    margin-left: 35%;
    margin-bottom: 10%;
} 
    .boxrow1span {
    text-align: center;
    font-size: 13px;
}
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: white;
}
    .container-fluid {
    padding-left: 13px;
}
#hiddenformtop{
  display: block;
}
.carouselhidden {
    display: block;
  }
  
  #loigioithieu {
    text-align: center;
    font-size: 21px;
}#phongocgioithieu {
    text-align: center;
    font-size: 21px;

}
#gioithieunhahang{
      text-align:center;font-size:21px;
    }
img.carouselphongoc {
  width: 100%;height:auto; ;
}
.phongocspan {
  height: 140px; width: 100%;background-color: white;text-align: center; margin-top: 2%; display: block;
}
.phongocspan a {
  font-size: 17px;
}

.slider {
    width: 80%;
    margin: 40px auto;
}

.phongocp {
  text-align: center;
  margin-left: 3px;
    margin-right: 3px;
    margin-top: 10px;
}
.hiddennhahang {display: block;}
.nhahangshow {
  display: none;
}
#googleMap {
  display: none;
}


.imgspan {
    height: 45px;
    width: 100%;
    background-color: #f2f2f2;
    display: block;
    padding-top: 0%;
    color: #337ab7;
    margin-top: -3%;
}

.subtitle {
    display: block;
    position: absolute;
    left: 4%;
    top: -66%;
    color: black;
    font-size: 45px;
    padding-right: 32px;
}

#gioithieunhahang {
    text-align: center;
    font-size: 30px;
    margin-top: -11%;
}





    }